body{
    text-align:center;
    background-color: #f0e8c5;
        
}
div{
    margin-top: 15px;
    
}
.img-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
#img1{
    height:500px;
    width:500px;
}
#img2{
    height:500px;
    width:500px;
}
#img3{
    height:500px;
    width:500px;
}
#img4{
    height:500px;
    width:500px;
}